.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colors-interface-primary);
    color: var(--colors-interface-white);
    /* Это вопрос спорный, но я ориентируюсь на подход youtube, yandex, 
    github и многих других, когда хедер всегда занимают всю ширину экрана */
    width: 100%;
    text-align: center;
    padding: 32px 0;
    gap: 16px;
    position: relative;
}

.title {
    margin: 0;
    font-size: 64px;
    line-height: 75px;
    font-weight: 400;
}

.text {
    margin: 0 0 32px;
    font-size: 20px;
    line-height: 23.44px;
    font-weight: 400;
    color: var(--colors-interface-light);
    max-width: 846px;
}

.linkWrapper {
    position: absolute;
    width: calc(100% - 2 * 80px);
    margin: 0;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.link {
    font-size: 16px;
    line-height: 21.79px;
    padding: 8px 16px;
    border: 1px solid var(--colors-interface-light);
    color: var(--colors-interface-light);
    border-radius: 8px;
    background-color: transparent;
}

.link:hover {
    cursor: pointer;
    opacity: 0.8;
}

.userBar {
    display: flex;
    gap: 32px;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    margin-left: 188px;
}

.descriptionPanel {
    text-align: left;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    width: 187px;
    height: 187px;
}

.role {
    margin: 0;
    font-size: 32px;
    line-height: 37.5px;
    font-weight: 400;
}

.mobLink {
    display: none;
    width: 18px;
    height: 18px;
}

.mobLink:hover {
    cursor: pointer;
    opacity: 0.8;
}

@media screen and (max-width: 950px) {
    .title {
        font-size: 36px;
        line-height: 42.19px;
        margin-top: 12px;
    }
    .text {
        font-size: 16px;
        line-height: 18.75px;
        max-width: 343px;
    }
    .link {
        display: none;
    }
    .mobLink {
        display: block;
        position: absolute;
        top: -17px;
        right: -57px;
    }

    .backLink {
        top: -17px;
        left: -67px;
    }
}

@media screen and (max-width: 650px) {
    .wrapper {
        align-items: center;
    }
    .userBar {
        flex-direction: column-reverse;
        align-items: center;
        align-self: center;
        gap: 16px;
        margin: 0 0 32px;
    }
    .descriptionPanel {
        text-align: center;
    }
    .role {
        font-size: 20px;
        line-height: 23.44px;
    }

}