.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--colors-interface-primary);
    color: var(--colors-interface-white);
    /* Это вопрос спорный, но я ориентируюсь на подход youtube, yandex, 
    github и многих других, когда хедер всегда занимают всю ширину экрана */
    width: 100%;
    text-align: center;
    padding: 32px 0;
    gap: 16px;
    position: relative;
}